.headerContenedor {
    width: 100%;
    background: #12203E;
    color: #fff;
    border-radius: 4px;
    grid-area: header;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-template-areas: "Logotipo LogoTipo LogoTipo btnMenu";
    text-align: center;
    align-items: center;
}

.headerContenedor .btnMenu {
    display: none;
}

.headerContenedor .menu ul li {
    border-right: 1px solid #fff;
}

.headerContenedor .menu ul li:hover {
    background: rgba(0, 0, 0, 0.2);
}

.headerContenedor .labelMenu:hover {
    cursor: pointer;
    /*para que cambie el mouse por la mano de seleccion*/
    background: rgba(0, 0, 0, 0.2);
}

.headerContenedor .labelMenu {
    display: block;
    grid-area: btnMenu;
    width: 30px;
    height: 30px;
    padding: 10px;
}

.headerContenedor .menu {
    display: none;
}

.headerContenedor .menu ul {
    margin: 0;
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: end;
    flex-direction: column;
}

.headerContenedor .menu ul li a {
    display: block;
    padding: 15px 20px;
    color: #fff;
    text-decoration: none;
}

.headerContenedor .imagoTipo {
    align-items: center;
    display: grid;
    grid-gap: 5px;
    padding-left: 10px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-area: Logotipo;
    grid-template-areas: "logo textoLogo";
}

.headerContenedor .imagoTipo .logo {
    grid-area: logo;
}

.headerContenedor .imagoTipo .textLogo {
    grid-area: textoLogo;
}

@media screen and (min-width: 768px) {
    .headerContenedor {
        grid-template-areas: "Logotipo LogoTipo menuPrincipal menuPrincipal";
    }
    .headerContenedor .menu {
        grid-area: menuPrincipal;
        display: block;
    }
    .headerContenedor .menu ul {
        flex-direction: row;
    }
    .headerContenedor .btnMenu {
        display: none;
    }
    .headerContenedor .labelMenu {
        display: none;
    }
}

@media screen and (min-width: 300px) and (max-width: 767px) {}