* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", medium;
}

body {
    background: #e9ecf4;
    color: #000;
    width: 97%;
    margin: 20px auto;
    margin-top: 5px;
    text-align: center;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, auto);
    grid-template-areas: "header        header     header header" "contenido     contenido   contenido contenido" "sidebar      sidebar     sidebar sidebar" "widget-1    widget-1    widget-1 widget-1" "widget-2   widget-2    widget-2 widget-2" "footer    footer      footer footer";
}

.widget1,
.widget2,
.contenido,
.sidebar,
.footer {
    background: #fff;
    padding: 20px;
    border-radius: 4px;
}

.contenido {
    text-align: left;
    grid-area: contenido;
}

.sidebar {
    background: #faa43d;
    grid-column: 3 / 4;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100px;
    grid-area: sidebar;
}

.widget1,
.widget2 {
    background: #55a8fd;
    color: #fff;
    height: 100px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.widget1 {
    grid-area: widget-1;
}

.widget2 {
    grid-area: widget-2;
}

.footer {
    background: #12203e;
    color: #fff;
    grid-area: footer;
}

@media screen and (min-width: 768px) {
    .contenedor {
        grid-template-areas: "header        header     header header" "contenido     contenido   contenido contenido" "sidebar      sidebar     sidebar sidebar" "widget-1    widget-1    widget-1 widget-1" "widget-2   widget-2    widget-2 widget-2" "footer    footer      footer footer";
    }
}